[Unit]
Description=Chat merger server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
TimeoutStartSec=30
WorkingDirectory=/etc/chat-merger-server
EnvironmentFile=/etc/chat-merger-server/env.conf
ExecStart=/usr/local/bin/chat-merger-server \
        --grpc-port=${GRPC_API_PORT} \
        --http-port=${HTTP_API_PORT} \
        --clients-cfg=/etc/chat-merger-server/clients.conf

[Install]
WantedBy=default.target